/ {
	zephyr,user {
		io-channels = <&adc 0>;
	};
};

&i2c0 {
    compatible = "nordic,nrf-twim";  /* enable TWIM hardware */
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>; /* 100 kHz */

    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    
    sen0390: sen0390@4a {
        compatible = "i2c-device";
        reg = <0x4a>;
        label = "SEN0390";
        status = "okay";
    };

    sen0546: sen0546@44 {
        compatible = "i2c-device";
        reg = <0x44>;
        label = "SEN0546";
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
            low-power-enable;
        };
    };
};

&adc {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";      /* 0.6 V on nRF52 */
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN0>;
        zephyr,resolution = <12>;
    };
};